	body {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: black;
	font-family: Arial;
	background-color: #F3F3F3;
}

.header {
background: rgb(44,83,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(44,83,158,1) 13%, rgba(44,83,158,1) 13%, rgba(44,83,158,1) 48%, rgba(44,83,158,1) 48%, rgba(44,83,158,1) 90%, rgba(44,83,158,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgba(44,83,158,1)), color-stop(13%,rgba(44,83,158,1)), color-stop(48%,rgba(44,83,158,1)), color-stop(48%,rgba(44,83,158,1)), color-stop(90%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 13%,rgba(44,83,158,1) 13%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 90%,rgba(44,83,158,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(44,83,158,1) 13%,rgba(44,83,158,1) 13%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 90%,rgba(44,83,158,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(44,83,158,1) 13%,rgba(44,83,158,1) 13%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 90%,rgba(44,83,158,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(44,83,158,1) 13%,rgba(44,83,158,1) 13%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 48%,rgba(44,83,158,1) 90%,rgba(44,83,158,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border-bottom: 2px solid #1A1313;
}

	.contenedorheader {
		width: 990px;
		margin: 0 auto;
		overflow: hidden;
	}

	.contenedorheader .img {
		float: left;
		padding: 0px;
		margin: 0px;
	}

	.contenedorheader .menu {
		float: left;
		margin: 0px;
		padding: 0px;
	}

	.contenedorheader .menu ul {
		list-style: none;
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}

	.contenedorheader .menu li {
		float: left;
	}

	.contenedorheader .menu ul li a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		font-family: 'Droid Sans', sans-serif;
		font-size: 15px;
		border-right: 1px solid #433D78;
		padding: 14px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.contenedorheader .menu ul li a:hover {
		color: #A84617;
	}

	.contenedorheader .boton {
		float: right;
		margin-top: 25px;
		margin-bottom: 25px;
		padding: 10px;
		background-color: #BE691B;
		text-transform: uppercase;
		font-family: 'Droid Sans', sans-serif;
		font-size: 15px;
		margin-left: 10px;
	}
	
	.contenedorheader .boton a {
		text-decoration: none;
		color: #fff;
	}

.slider {
	background-image: url(http://i.imgur.com/oB2zQPt.jpg);
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

	.contenedorslider {
	width: 990px;
	margin: 0 auto; 
	overflow: hidden;
	}

	.contenedorslider .sliderizq {
		float: left;
		width: 445px;
		padding: 0px;
		margin: 0px;
	}

	.sliderizq img {
		width: 550px;
		margin-left: 0px;
	}

	.sliderizq p {
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		padding-left: 100px;
		color: #fff;
	}

	.contenedorslider .sliderder {
		float: right;
		width: 445px;
		padding: 0px;
		margin: 0px;
	}

	.sliderder h1 {
		font-family: arial;
		color: #fff;
		font-size: 30px;
		padding-top: 30px;
		padding-left: 30px;
	}

	.sliderder .boton1 {
		background-color: #DB7214;
		padding: 15px;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		margin-left: 30px;
	}

	.sliderder .boton1 a {
		text-decoration: none;
		color: #fff;
	}
